#intro {
    background-image: url(images/Netflix-Background1.webp);
    height: 100vh;
    box-shadow: 150px 250px 200px rgba(0,0,0,0.9) inset;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media(max-width: 767px) {
    #intro {
      background-image: none;
    }
  }
.img-fluid{
    max-width: 16%;
    cursor: pointer;
}
.flex1{
    max-width: 400px;
    border-radius: 5px;
    opacity: 95%;
}
.red{
    background-color: red;
}
.email{
    border-style: solid;
    background-color: rgb(186, 186, 186);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}
.text1{
    font-size: 13px;
    font-weight: 500;
}
.text2{
    font-size: 12px;
}
.footer1{
    background-color: black;
    margin-top: 30px;
    padding-top: 5px;
}
.text3{
    opacity: 70%;
    font-size: 14px;
    font-weight: 450;
}